
.vs/ReadtxtData/v14/.suo
ReadtxtData/bin/Debug/ReadtxtData.vshost.exe.manifest
ReadtxtData/bin/Debug/ReadtxtData.vshost.exe.config
ReadtxtData/bin/Debug/ReadtxtData.vshost.exe
ReadtxtData/bin/Debug/ReadtxtData.pdb
ReadtxtData/bin/Debug/ReadtxtData.exe.config
ReadtxtData/bin/Debug/ReadtxtData.exe
ReadtxtData/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ReadtxtData/obj/Debug/ReadtxtData.csproj.FileListAbsolute.txt
ReadtxtData/obj/Debug/ReadtxtData.csprojResolveAssemblyReference.cache
ReadtxtData/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ReadtxtData/obj/Debug/ReadtxtData.pdb
ReadtxtData/obj/Debug/ReadtxtData.exe
ReadtxtData/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ReadtxtData/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ReadtxtData/Properties/AssemblyInfo.cs
ReadtxtData/ReadtxtData.csproj
ReadtxtData/App.config
ReadtxtData.sln
